.ms-globalTitleArea
{
	text-align: right;
	background-image: none;
	background-position: right top;
	background-repeat: repeat-y;
	padding-left: 5px;
	padding-right: 0px;
	background-color: #F6F5F3;
}
.ms-standardheader
{
	font-size: 10px;
	color:Black;
}
.ms-formbody
{
	font-size:10px;
}